<span class="comment-controls">
  <a href="#"
      title="View as webpage"
      class="comment-link">View as webpage</a>
  <button type="button"
      title="Edit"
      class="comment-edit">Edit</button>
  <button type="button"
      title="Delete"
      class="comment-delete">Delete</button>
</span>
<span class="comment-text">{{text}}</span>
