<span class="comment-controls">
  <a href="#"
      title="View as webpage"
      class="comment-link">View as webpage</a>
  <i class="icon-cancel-circled" data-delete="{{id}}"></i>
  <i class="icon-doc" data-edit="{{id}}"></i>
</span>
<span class="comment-text">{{text}}</span>
